* {
  font-family: monospace !important; 
}

/* @font-face {
  font-family: 'krutidev';
  src: url('./components/WordDocumentUploader/krutidev.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
} */